@import '../../global_styles/variables.scss';

.primary_btn {
	text-decoration: none;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	outline: rgba(255, 255, 255, 0);
	z-index: 50;
	border-right: 1px solid black;
	cursor: pointer;
	transition: .2s;
	// height: 25px;
	&:hover {
		color: $hover-color;
	}
	&:hover {
		color: $hover-color;
		background-color: rgb(0, 0, 0);
		outline: rgb(0, 0, 0);
	}
}
.secondary_btn {
	compose: primary_btn;
	width: 90px;
	height: 100%;
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	@media #{$phone} {
		height: 25px;
	}
	&:hover {
		color: $hover-color;
	}
	&:hover {
		color: $hover-color;
		background-color: rgb(0, 0, 0);
		outline: rgb(0, 0, 0);
	}
}
