@import '../../global_styles/variables.scss';

.primary_btn {
	text-decoration: none;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	outline: rgba(255, 255, 255, 0);
	z-index: 50;
	border-right: 1px solid black;
	cursor: pointer;
	transition: .2s;
	&:hover {
		color: $hover-color;
	}
	&:hover {
		color: $hover-color;
		background-color: rgb(0, 0, 0);
		outline: rgb(0, 0, 0);
	}
}
.backBtn {
	compose: primary_btn;
	border: none;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	&:hover {
		color: $hover-color;
	}
	&:hover {
		color: $hover-color;
		background-color: rgb(0, 0, 0);
		outline: rgb(0, 0, 0);
	}
}
