@import '../../global_styles/variables.scss';

.wrapper {
	composes: flex_column_center from '../../global_styles/global.scss';
	width: 100%;
}
.button_container {
  display: flex;
}
.chart_container {
  composes: chart_container from '../../global_styles/global.scss';
}
.buttons_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.input_wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.country_btn {
  composes: primary_btn from '../buttons/button.module.scss';
}
.label {
  color: black;
  padding-right: 10px;
  width: 100px;
}
.secondary_btn {
	composes: primary_btn from '../buttons/button.module.scss';
	width: 90px;
}
.section_title {
  composes: section_title from '../../global_styles/global.scss';
}

