@import '../../global_styles/variables.scss';

.section_map {
  composes: section_wrapper from '../../global_styles/global.scss';
}
.section_title {
  composes: section_title from '../../global_styles/global.scss';
}
.chart_container {
  composes: chart_container from '../../global_styles/global.scss';
}
