@import '../variables.scss';

.primary_btn {
	text-decoration: none;
	border: none;
	background-color: #fff;
	color: $asbestos-color;
	// font-family: Ubuntu, sans-serif;
	// font-size: 12px;
	cursor: pointer;
	&:hover {
		color: $wet-asphalt-color;
	}
}
