@import '../variables.scss';

.primary_btn {
	text-decoration: none;
	border: none;
	background-color: black;
	color: #fff;
	outline: rgba(0, 0, 0, 0);
	z-index: 50;
	cursor: pointer;
	&:hover {
		border: none;
		color: $hover-color;
	}
}
