@import '../variables.scss';

section {
  height: 90vh;
}


input {
  width: 250px;
}
.searchWrapper {
  position: relative;
  z-index: 5;
}
.inputWrapper {
  position: absolute;
  top: 0px;
  left: 30px;
}

.countryList {
  position: absolute;
  left: 30px;
  top: 25px;
  height: 150px;
  overflow: scroll;
  width: 300px;
  list-style: none;
  text-align: left;
  width: 250px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}
  .countryList::-webkit-scrollbar {
    display: none;
  }
li {
  color: grey;
}
li:hover {
  color: black;
}
  
