@import '../variables.scss';

.section_wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section_01 {
	display: block;
	min-height: 600px;
	width: 600px;
}
.all_values_wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.values_cases_wrapper {
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
	width: 800px;
	top: 120px;
}
.vertical_line {
	position: fixed;
	border-left: 1px solid black;
	height: 150px;
	top: 100px;
	left: 30px;
}
.country_name {
	position: fixed;
	top: 80px;
	left: 35px;
	font-size: 80px;
	font-weight: 700;
	margin: 0;
}
