@import '../variables.scss';

.wrapper {
	height: 80px;
	width: 310px;
}
.cases_btn_container {
	position: relative;
	.radio_btn {
		position: absolute;
		display: block;
		cursor: pointer;
		width: 20px;
		height: 20px;
		top: -8px;
		left: -8px;
		z-index: 100;
		opacity: 0;
		margin: 0;
	}
	.dot {
		position: absolute;
		height: 15px;
		width: 15px;
		background-color: white;
		border-radius: 50%;
		border: 1px solid black;
		display: block;
		cursor: pointer;
		top: -3px;
		left: -3px;
	}
	.rectangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 310px;
		height: 40px;
		border-top: 1px solid black;
	}
	form {
		width: 10px;
		height: 10px;
		position: absolute;
	}
	input:checked ~ .dot {
		background-color: black;
	}
	.confirmed_form {
		top: -5px;
		left: 0;
	}
	.deaths_form {
		top: -5px;
		left: 155px;
	}
	.recovered_form {
		top: -5px;
		left: 310px;
	}
	.txt_container {
		position: relative;
	}
	p {
		font-size: 12px;
		position: absolute;
	}

	.label_confirmed {
		top: 15px;
		left: -25px;
	}
	.label_deaths {
		top: 15px;
		left: 140px;
	}
	.label_recovered {
		top: 15px;
		left: 285px;
	}
}