@import '../variables.scss';

.search_wrapper {
	position: relative;
	display: flex;
	align-items: center;
.search_input {
	border: none;
	border-bottom: 1px solid #fff;
	background-color: black;
	color: #fff;
	padding: 0 10px;
	outline: black;
}
}
.invisible {
	position: absolute;
	top: 48px;
	padding: 0 10px;
	line-height: 18px;
	height: 150px;
	overflow: scroll;
	list-style: none;
	text-align: left;
	width: 250px;
	cursor: pointer;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.9);
	-ms-overflow-style: none;
	transition: visibility 0s, opacity 0.3s;
}
.visible {
	composes: invisible;
	visibility: visible;
	opacity: 1;
}
.country_list::-webkit-scrollbar {
	display: none;
}
.countryList_item {
	color: black;
}
.countryList_item:hover {
	color: #fff;
	background-color: black;
	&:hover ~ ul {
		visibility: visible;
		opacity: 1;
	}
}
.search_btn {
	composes: primary_btn from './Button.module.scss';
	width: 90px;
}

