@import '../variables.scss';

.input_range {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
&:focus {
  outline: none;
}
&::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(#000, 0.5);
  cursor: pointer;
  transition: all 0.5s;
}
&:hover::-webkit-slider-thumb {
  background: $wet-asphalt-color;
}
&::-webkit-slider-runnable-track {
  width: 60%;
  height: 9px;
  background: $silver-color;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
&:hover::-webkit-slider-runnable-track {
  background: $asbestos-color;
}
&::-ms-track {
  width: 60%;
  cursor: pointer;
  height: 9px;
  transition: all 0.5s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
&::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(#000, 0.5);
  cursor: pointer;
}
&:hover::-ms-thumb {
  background: $wet-asphalt-color;
}
&::-ms-fill-lower {
  background: $silver-color;
  border-radius: 3rem;
}
&:focus::-ms-fill-lower {
  background: $asbestos-color;
}
&::-ms-fill-upper {
  background: $silver-color;
  border-radius: 3rem;
}
&:focus::-ms-fill-upper {
  background: $asbestos-color;
}
&::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(#000, 0.5);
  cursor: pointer;
}
&:hover::-moz-range-thumb {
  background: $wet-asphalt-color;
}
&::-moz-range-track {
  width: 60%;
  height: 9px;
  background: $silver-color;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
&:hover::-moz-range-track {
  background: $asbestos-color;
}
}
