@import '../variables.scss';

.cases_btn_container {
	position: relative;
	top: 0px;
	left: 200px;
	.radio_btn {
		position: absolute;
		display: block;
		cursor: pointer;
		width: 20px;
		height: 20px;
		top: -8px;
		left: -8px;
		z-index: 100;
		opacity: 0;
	}
	.dot {
		position: absolute;
		height: 15px;
		width: 15px;
		background-color: white;
		border-radius: 50%;
		border: 1px solid black;
		display: block;
		cursor: pointer;
		top: -3px;
		left: -3px;
	}
	.rectangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 310px;
		height: 40px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	form {
		width: 10px;
		height: 10px;
		position: absolute;
	}
	input:checked ~ .dot {
		background-color: black;
	}
	.confirmed_form {
		top: -5px;
		left: 40px;
	}
	.deaths_form {
		top: -5px;
		left: 175px;
	}
	.recovered_form {
		top: -5px;
		left: 310px;
	}
	.newConfirmed_form {
		top: 35px;
		left: 40px;
	}
	.newDeaths_form {
		top: 35px;
		left: 175px;
	}
	.newRecovered_form {
		top: 35px;
		left: 310px;
	}
	.txt_container {
		position: relative;
	}
	p {
		font-family: $sans-serif;
		font-weight: normal;
		font-size: 14px;
		position: absolute;
	}
	.label_cumulative {
		top: -12px;
		left: -90px;
	}
	.label_new_cases {
		top: 30px;
		left: -85px;
	}
	.label_confirmed {
		top: 10px;
		left: 55px;
	}
	.label_deaths {
		top: 10px;
		left: 190px;
	}
	.label_recovered {
		top: 10px;
		left: 325px;
	}
}
