@import '../variables.scss';

header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 100;
  text-decoration: none;
  height: 75px;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  box-shadow: $small-shadow;
  border-radius: 2px;
  background-color: #fff;
  
  ul {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    
    margin: 0;
    * {
      text-decoration: none;
      color: $asbestos-color;
      cursor: pointer;
    }
    :hover * {
      color:$wet-asphalt-color;
    }
  }
}

