@import '../variables.scss';
.section_table {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 800px;
  color: white;
  padding: 30px 0;
}
th {
  position: sticky ;
  top: 0;
  text-align: left;
  font-weight: 600;
  cursor: default;
  
}
.btn_icon {
  min-width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
tr:hover {
  color: $hover-color;
}
.cursor_pointer {
  cursor: pointer;
}
.table_container {
  width: 850px;
  overflow-y: scroll;
  max-height: 500px;
}
.section_title {
  composes: section_title from './Map.module.scss';
  color: #fff;
  margin: 30px 0;
}
.table_wrapper {
  composes: map_wrapper from './Map.module.scss';
}