th {
  text-align: left;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
}
.btn_icon {
  min-width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.cursor_pointer {
  cursor: pointer;
}

.table_container {
  width: 850px;
  overflow-y: scroll;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  max-height: 500px;
}
.section_title {
  composes: section_title from './Map.module.scss';
}
.table_wrapper {
  composes: map_wrapper from './Map.module.scss';
}