
.section_table {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

th {
  position: sticky ;
  top: 0;
  text-align: left;
  font-weight: 600;
  background-color: white;
}
.btn_icon {
  min-width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
tr:hover {
  color: red;
}
.cursor_pointer {
  cursor: pointer;
}

.table_container {
  width: 850px;
  overflow-y: scroll;
  max-height: 500px;
}
.section_title {
  composes: section_title from './Map.module.scss';
}
.table_wrapper {
  composes: map_wrapper from './Map.module.scss';
}