@import '../variables.scss';

.wrapper {
  text-align: right;
	height: 100px;
	width: 270px;
  margin-bottom: 10px;
}
p {
	margin: 0;
}
.number {
  margin: 0;	
  line-height: 60px;
	font-weight: 700;
}
.confirmed {
	color: $orange-color;
}
.deaths {
	color: $red-color;
}
.recovered {
	color: $green-color;
}
.new {
  font-size: 40px;
}
.total {
  font-size: 60px;
}
.update {
  font-weight: 400;
}
.rate {
  font-size: 60px;
  margin-top: 30px;
}