@import '../variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Ubuntu, sans-serif;
  height: 100px;
  width: 200px;
  padding: 0;
  margin: 0;
  box-shadow: $small-shadow;
  border-radius: 2px;
  background-color: #fff;
}
h2 {
  font-size: 40px;
  margin: 0;
}
.confirmed {
  color: $orange-color;
}
.deaths {
  color: $red-color;
}
.recovered {
  color: $green-color;
}
p {
  margin: 0;
}