@import '../../global_styles/variables.scss';

.section_title {
	composes: section_title from '../../global_styles/global.scss';
}
.section_table {
	composes: section_wrapper from '../../global_styles/global.scss';
}
th {
	position: sticky;
	top: 0;
	text-align: left;
	font-weight: 600;
	cursor: default;
	min-width: 70px;
	color: black;
	background-color: $white-color;
	padding-bottom: 5px;
}
td {
	cursor: default;
	min-width: 85px;
}
tr:hover {
	color: $hover-color;
}
.wideCol {
	min-width: 120px;
}
.btn_icon {
	border: none;
	background-color: transparent;
	outline-color: rgba(255, 255, 255, 0);
}
.cursor_pointer {
	cursor: pointer;
}
.table_container {
	width: 100%;
	overflow-y: scroll;
	max-height: $chart_height;
	::selection {
		color: $hover-color;
		background: $black-color;
	}
	::-moz-selection {
		color: $hover-color;
		background: $black-color;
	}
}
