@import '../../global_styles/variables.scss';

.section_table {
  composes: section_wrapper from '../../global_styles/global.scss';
}
th {
  position: sticky ;
  top: 0;
  text-align: left;
  font-weight: 600;
  cursor: default;
  min-width: 70px;
  color: $white-color;
  color: black;
}
.wideCol {
  min-width: 130px;
}
tr:hover {
  color: $hover-color;
}
th > *:hover {
  color: $hover-color;
  background: $black-color;
}
.btn_icon {
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
.cursor_pointer {
  cursor: pointer;
}
.table_container {
  width: 100%;
  overflow-y: scroll;
  max-height: $chart_height;
}
.section_title {
  composes: section_title from '../../global_styles/global.scss';

}
