.btn-icon {
  min-width: 20px;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

th {
  text-align: left;
}

.table-container {
  max-height: 500px;
  overflow-y: scroll;

}