
$orange-color: #f39c12;
$red-color: #e74c3c;
$green-color: #2ecc71;

$silver-color: #bdc3c7;
$asbestos-color: #7f8c8d;
$wet-asphalt-color: #34495e;

$hover-color: #f8c90a;
$sans-serif: 'Poppins', sans-serif;
$serif: 'Playfair Display', serif;

